

/* Hero section styles */
#hero {
    background-image: url('./assets/images/pexels.jpg');
    background-size:cover;
    background-position: center;
    padding: 100px 0;
    color: #fff;
    height: 620px;
}

#hero h2 {
    margin-top: 120px;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

#hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
}

.btn-about{
    padding: 10px 20px;
    background-color: #dfdfdf;
    color: #204228;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #204228;
}



