<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maiti labs</title>

   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css"integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ=="  crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="../css/awareness.css">
  <link rel="stylesheet" href="../../global.css">

</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
           <div>
            <a href="../../index.html" class="navbar-brand"><img  class="brand-logo " src="../../assets/logo/Logo.png" alt="Maitilabs_logo"> <span class="brand-title">Maiti Labs</span></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto ">
                      <li class="nav-item ">
                        <a class="nav-link" href="../../index.html">Home</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="../component/awareness.html">Awareness Portal</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../component/career.html">Careers</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="../component/about.html">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="#">Team</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="../component/contact.html">Contact</a>
                      </li>
                      <li class="nav-item mt-2">
                        <div
                          id="google_translate_element"
                          class="skiptranslate translate"
                        ></div>
                      </li>
                    </ul>
                  </div>
            </div>
    </nav>
</header>
  
  <div class="container-fluid bg-image">
    <div class="row">
      <div class="col-12 centered-text">
        <h1 class="heading1">Awareness Portal</h1>
        <h3 class="heading2">The planet speaks, we listen.</h3>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card custom-card1">
          <img src="../../assets/images/vrishabavathi.jpg" class="card-img-top" alt="Image 1">
          <div class="card-body">
            <h5 class="card-title"><a href="" style="font-weight: 700;color: #1a3520;font-size: 25px;line-height: 35px;font-family:Lora; text-align: center;">Vrishabawathi River: A Lifeline Lost and the Crusade for its Revival</a></h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card custom-card2">
          <img src="../../assets/images/ganga.jpg" class="card-img-top" alt="Image 2">
          <div class="card-body">
            <h5 class="card-title"><a href="" style="font-weight: 700;color: #1a3520;font-size: 25px;line-height: 35px;font-family:Lora; text-align: center;">Ganga Pollution Case: A Case Study</a></h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card custom-card1">
          <img src="../../assets/images/yamuna.jpg" class="card-img-top" alt="Image 2">
          <div class="card-body">
            <h5 class="card-title"><a href="" style="font-weight: 700;color: #1a3520;font-size: 25px;line-height: 35px;font-family:Lora; text-align: center;">Chasing a Dying River: The Yamuna in Delhi</a></h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card custom-card2">
          <img src="../../assets/images/tungabhadra.jpg" class="card-img-top" alt="Image 2">
          <div class="card-body">
            <h5 class="card-title"><a href="" style="font-weight: 700;color: #1a3520;font-size: 25px;line-height: 35px;font-family:Lora; text-align: center;">The poisoning of the Tungabhadra</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="py-4">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h5 class=" text-center">Follow us on social media</h5>
          <ul class="list-unstyled d-flex justify-content-center gap-4">
            <li>
              <a href="mailto:you@example.com" class="text-dark "><i class="fas fa-envelope"></i>Mail</a>
            </li>
            <li>         
              <a href="https://twitter.com/maitilabs" class="text-dark "><i class="fab fa-twitter"></i> Twitter</a>
            </li>
            <li>
                            <a href="https://instagram.com/maitilabs?igshid=NjIwNzIyMDk2Mg==" class="text-dark mr-2"><i class="fab fa-instagram"></i>Instagram</a>
            </li>
            <li>              <a href="https://www.linkedin.com/company/maitilabs" class="text-dark"><i class="fab fa-linkedin"></i>Linkedin</a>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center ">
          <p>&copy; 2023 Maiti Labs. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <script src="../js/translate.js"></script>  

 <!-- jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>

      
</body>
</html>
